@media (max-width:1108px){
  .wrapper {
    max-width:90%;
  }
  #social {
    position:absolute;
    width:auto;
    top:82px;
    right:4px;
  }
  }



@media (max-width:900px){
  body {
    font-size:85%;
  }
  #logo h1 {
    width:35px;
    height:35px;
  }
  #logo h2 {
    font-size:2.2em;
  }
  #social {
    position:absolute;
    width:auto;
    top:72px;
    right:4px;
  }
.col-3 p {
  -moz-column-rule: 1px dotted #ccc;
  -webkit-column-rule: 1px dotted #ccc;
  column-rule: 1px dotted #ccc;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 2;
}
}

@media (max-width:700px){
 #navbar nav a {
   font-size:0.9em;
 }
 .col-3 p {
  -moz-column-rule: 1px dotted #ccc;
  -webkit-column-rule: 1px dotted #ccc;
  column-rule: 1px dotted #ccc;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 1;
}
.col-1 .col-2 .com-3 {
  width:100%;
  margin-left:0;
  float:none;
}
.border-right{
  border:0;
}
#details div{
  height:auto;
}
}